a{
    text-decoration: none;
}

p{
    margin: 5px;
}

b{
    margin: 5px;
}

.container{
    display: grid;
    grid-template: 
    "sb hd hd hd" 200px
    "sb ct ct ns" 1000px
    ;
    
}

.header{
    display: grid;
    grid-template: 
    "uc uc" 1fr
    "lc lc" 1fr
    ;
    grid-area: hd;
    background-color: bisque;
    border: 1px solid red;
}


#upper-container{
    display:flex;
    justify-content: space-between;
    grid-area: uc;
}

#lower-container{
    display:flex;
    justify-content: space-between;
    grid-area: lc;
}

#buttons{
    display: flex;
    align-items: center;

}

#buttons > button{
    width: 70px;
    border-radius: 10px;
}

#search{
    margin-top: 4px;
    display: flex;
    grid-area: sch;
}
#search-bar{
    width: 400px;
    height: 1.2rem;
    margin: 0 10px;
    border: 1px solid black;
    

}

#notifications-profile{
    margin: 4px;
    display: flex;
    justify-content: space-between;
    grid-area: np;
    
}

#notifications-profile > img{
    height: 30px;
    width: 30px;
}

#notifications-profile > p{
    margin: 4px 8px;
}

#greeting{
    display: flex;
}

#profile{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.content{
    
    grid-area: ct;
    background-color: beige;
    border: 1px solid red;
}

.projects{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.projects-sub{
    margin: 10px;
    border: 1px solid grey;
    border-radius: 15px;
    background-color: rgb(158, 158, 158);
}

.news{
    grid-area: ns;
    background-color: azure;
    border: 1px solid red;
}

#news-sub{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
}

#trending{
    display: flex;
}

.sidebar{
    width: 150px;
    grid-area: sb;
    background-color: blanchedalmond;
    border: 1px solid red;
}

#fixed-container{
    position: fixed;
}

#logo{
    margin: 10px 10px;
}

#upper-nav{
    margin: 80px 10px;
}

#lower-nav{
    margin: 0 10px;
}