p{
    margin: 5px;
}

b{
    margin: 5px;
}

.container{
    display: grid;
    grid-template: 
    "sb hd hd hd" 1fr
    "sb ct ct ns" 1fr
    "sb ct ct ns" 1fr
    "sb ct ct ns" 1fr
    ;
    
}

.header{
    grid-area: hd;
    background-color: bisque;
    border: 1px solid red;
}

#upper-container{
    display:flex;
    justify-content: space-between;
}

#lower-container{
    display:flex;
    justify-content: space-between;
}

#search{
    display: flex;
}
#search-bar{
    width: 400px;
    height: 1.2rem;
    margin: 0 10px;
    border: 1px solid black;
    

}

#notifications-profile{
    display: flex;
    justify-content: space-between;
}

#greeting{
    display: flex;
}

#profile{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.content{
    
    grid-area: ct;
    background-color: beige;
    border: 1px solid red;
}

.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.projects-sub{
    margin: 10px;
    border: 1px solid grey;
    border-radius: 15px;
    background-color: rgb(158, 158, 158);
}

.news{
    grid-area: ns;
    background-color: azure;
    border: 1px solid red;
}

#news-sub{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.sidebar{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    grid-area: sb;
    background-color: blanchedalmond;
    border: 1px solid red;
}